<div class="d-flex justify-content-center mt-3">
<div class="card d-flex flex-column align-items-center bg-secondary" style="width: 25rem;">
    <img [src]="mahsol.mahsolantekhabi.image" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{mahsol.mahsolantekhabi.title}}</h5>
      <p class="card-text">{{mahsol.mahsolantekhabi.price}}</p>
      <p class="card-text">{{mahsol.mahsolantekhabi.Description}}</p>
      <button class="btn btn-dark">اضافه کردن به سبد کالا</button>
    </div>
  </div>
</div>