<div style="height: 200px; width:100% ;" class="d-flex justify-content-between mr-3 ">
<div class="card form-group bg-dark-subtle h-100 w-100  d-flex flex-column  align-items-center" >
    <div class="card-body  d-flex flex-column  align-items-center">
      <p>Numbers one to three each one point for user one</p>
      <h5 class="card-title">{{usernameService.users[0].name}}</h5>
      <p>Score: <span class="card-text">{{userOneScore}}</span></p>
      <h3 *ngIf="userOneScore==5">Winner</h3>
    </div>
  </div>
  <div class="card form-group mb-3 h-100 w-100 bg-info-subtle d-flex flex-column  align-items-center" >
    <div class="card-body d-flex flex-column  align-items-center">
      <p>Numbers four to six each one point for user two</p>
      <h5 class="card-title">{{usernameService.users[1].name}}</h5>
     <p>Score: <span class="card-text">{{userTwoScore}}</span></p>
     <h3 *ngIf="userTwoScore==5">Winner</h3>
    </div>
  </div>
</div> 
<div style="height: 200px; width:100%" class=" d-flex flex-column  align-items-center ">
 <p *ngIf="control">number: <span>{{usernameService.number}}</span></p>
  <button (click)="clickrandomNumber()" type="submit" class="btn btn-primary">ok</button>
</div>

