<!--<table >
        <tr>
        <th> username</th>
        <th>lastname</th>
        <th>Phone</th>
        <th>email</th>
    </tr>
    <tr *ngFor="let item of usernames ; let i=index">
        <td>sad</td>
        <td>sdv</td>
        <td>dfbdf</td>
        <td>dvsv</td>
    </tr>
</table>

<form [formGroup]="form">
    <div class="d-flex flex-column mb-4 " >
    <input class="p-2 m-3" type="text" formControlName="username" placeholder="username"> 
    <input class="p-2 m-3" type="text" formControlName="lastname" placeholder="lastname"> 
    <input class="p-2 m-3" type="text" formControlName="Phone" placeholder="Phone"> 
    <input class="p-2 m-3" type="email" formControlName="email" placeholder="email"> 
    <button class="p-2 m-3 btn btn-primary" type="button" (click)="onClick()">done</button>
    </div>
    </form>-->

<app-navbar></app-navbar>
<router-outlet></router-outlet>
